    html{
   /* background-color: #f1f1f1; */
    } 
/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%;
        /*background-color: #f1f1f1;*/
        padding-left: 50px;
        padding-right: 50px;
}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    .body {
        color: #fff!important;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      height:auto;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
    }

    .pagination {
        color: #f1f1f1;
    }

    .pagination li a {
        color: #555;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
    .row.content {height:auto;} 
    }

    .container-fluid.content {
    /*background-color: #f1f1f1;*/
    
    }
    
    #total_results {
        padding-left: 20px;
    }
    
    #results {
        padding-left: 20px;
    }       

    .media {
        border-style: outset;
        background-color: #f8f9fa!important;
        background-clip: border-box;
        border: 3px solid rgba(0,0,0,.125);
        border-radius: 8px;
    }

    .media:hover {
        background-color: #868e96!important;
        color: #fff!important;
    }

    .media-heading {
        margin-top: 10px;
    }

    .language {
        padding-left: 5px;
        padding-right: 8px;
        float: left;
    }
    .release_date {
        padding-left: 25px;
    }
    .vote_average {
        float: right;
        padding-right: 5px;
        margin-bottom: 10px;
    }
    .total_votes {
        float: right;
        padding-right: 15px;
        margin-bottom: 10px;
    }

/*
    #byYear:invalid {
        border: 1px solid red;
    }
*/


